html,
body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1300px;
  background-color: white;
  margin: 40px auto;
  line-height: 1.5;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

.container .main-content {
  flex: 3;
  order: 2;
}

.container .sidebar-left {
  flex: 0.9;
  order: 0;
  margin: 0;
}

.container .sidebar-right {
  flex: 1.3;
  order: 3;
}

.container .sidebar-left ul {
  list-style-type: none;
  padding-left: 0;
}
.container .sidebar-left ul li a {
  text-decoration: none;
  color: black;
}
